 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root {
  font-size: 14px;
  --primary: #091011;
  --gold: #c26213;
  color: #fff;
  transition: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", Sans-Serif;
}

body {
  background-color: var(--primary);
  overflow: hidden;
}

.container {
  width: 90%;
  max-width: 800px;
  margin: auto;
  overflow: hidden;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  background: var(--gold);
  color: #fff;
  border-radius: 4px;
  transition: all 0.3s ease;
  cursor: pointer;
}

button:hover {
  transform: scale(0.97);
}

.intro {
  z-index: 9;
  background: var(--primary);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transition: all 0.5s ease;
}

.intro.active {
  left: -100%;
  pointer-events: none;
}

.intro .container {
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.intro h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.intro p {
  margin-top: 1rem;
  font-size: 0.9rem;
  opacity: 0.9;
}

.game {
  z-index: 1;
}

.game .container {
  min-height: 100vh;
  height: 100%;
  text-align: center;
}

.game header {
  margin: 1rem 0 4.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.game header div {
  order: 1;
  opacity: 0.8;
}

header i {
  color: gold;
}

header div p {
  font-size: 1rem;
}

header h2 {
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  order: 2;
}

header h2 i {
  font-size: 1.7rem;
  color: gold;
}

header h2 span {
  font-weight: 700;
  opacity: 0.9;
}

.game h1 {
  font-size: 2.3rem;
  font-weight: 700;
}

.remark-div {
  margin: 2.5rem 0 3rem;
}

.remark-div h3 {
  font-weight: 600;
  opacity: 0.8;
  font-size: 1.6rem;
}

.input-box {
  margin-bottom: 2.5rem;
}

.input-box input {
  height: 50px;
  appearance: none;
  border-radius: 4px;
  border: none;
  outline: none;
  background: #fff;
  padding: 0 1rem;
  font-size: 1.1rem;
}

.input-box input.disabled {
  background: #ccc;
}

.input-box input:focus {
  outline: none;
}

.time-bar-div {
  height: 4px;
  background: #fff;
  border-radius: 3px;
  width: 200px;
  margin: auto;
  overflow: hidden;
}

.time-bar-div span {
  display: block;
  height: 100%;
  width: 100%;
  background: gold;
}

.time-div p {
  margin-top: 2rem;
  font-size: 1.7rem;
  font-weight: 600;
}

.word-div h1 span {
  position: relative;
  display: inline-block;
  margin: 0 1.5px;
}

.word-div h1 span.correct {
  color: green;
}

.word-div h1 span.mistake {
  color: crimson;
  background: rgba(213,43,43, 0.5);
}

.word-div h1 span.active::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  height: 2px;
  width: 100%;
  background: #2f8da4;
  opacity: 0;
  animation: blink 1s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 1;
  }
}

.alert {
  position: fixed;
  top: -100%;
  left: 0;
  z-index: 6;
  width: 100%;
  height: 100vh;
  opacity: 0;
  background: var(--primary);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease;
}

.alert.active {
  top: 0;
  opacity: 1;
}

.alert .container {
  padding: 2rem 0 0.5rem;
}

.alert .high-score-div {
  margin-bottom: 3rem;
}

.high-score-div i {
  color: gold;
}

.high-score-div h2 {
  margin-bottom: 2rem;
}

.high-score-h2 {
  display: none;
}

.high-score-h2.active {
  display: block;
}

.high-score-div h2 span {
  font-size: 2rem;
  opacity: 0.9;
  font-weight: 700;
}

.high-score-div h2 i {
  font-size: 1.8rem;
}

.high-score-div p {
  font-size: 2.3rem;
}

.high-score-div p i {
  font-size: 1.8rem;
}

.high-score-div p span {
  opacity: 0.9;
  font-weight: 700;
}

.alert h1 {
  color: crimson;
  font-size: 2.3rem;
  opacity: 0.9;
  margin-bottom: 2rem;;
}

footer {
  margin-top: 2rem;
  padding: 1rem 0;
  text-align: center;
  z-index: 4;
}
